<article>
    <form action="/api/sessions/register" method="post">
        <header>
            <h1>Registro</h1>
        </header>
        <div class="grid">
            <label for="firstname">
                Nombre
                <input type="text" id="firstname" name="firstname" placeholder="Nombre" required>
            </label>
            <label for="lastname">
                Apellido
                <input type="text" id="lastname" name="lastname" placeholder="Apellido" required>
            </label>
            <label for="age">
                Edad
                <input type="number" id="age" name="age" placeholder="Edad" required>
            </label>
        </div>

        <label for="email">Correo electr칩nico</label>
        <input type="email" id="email" name="email" placeholder="Correo electr칩nico" required>

        <label for="password">Contrase침a</label>
        <input type="password" id="password" name="password" placeholder="Contrase침a" required>

        <button type="submit">Registrarse</button>
    </form>
</article>